__pycache__/settings.cpython-37.pyc
core/__pycache__/apiController.cpython-37.pyc
core/__pycache__/codeGenerator.cpython-37.pyc
core/__pycache__/commandController.cpython-37.pyc
core/__pycache__/managedb.cpython-37.pyc
filestorage/apistorage.txt
filestorage/storage.txt
settings.py
*src/*
*filestorage/*
*build/*
__pycache__/
api/**
/core/__pycache__/
__pycache__/*.cpython-37
__pycache__/settings.cpython-37.pyc
core/__pycache__/apiController.cpython-37.pyc
core/__pycache__/codeGenerator.cpython-37.pyc
core/__pycache__/commandController.cpython-37.pyc
core/__pycache__/managedb.cpython-37.pyc
core/
