__pycache__/settings.cpython-37.pyc
core/__pycache__/apiController.cpython-37.pyc
core/__pycache__/codeGenerator.cpython-37.pyc
core/__pycache__/commandController.cpython-37.pyc
core/__pycache__/managedb.cpython-37.pyc
filestorage/apistorage.txt
filestorage/storage.txt
settings.py
api
api/**
core/__pycache__/storage\.cpython-37\.pyc

*.pyc

__pycache__/
