#INCLUDE "TOTVS.CH"

/*/{Protheus.doc} ${prefix}CmdPutClt

    @type  Class
    @author everton.mateus
    @since 20190320
/*/
Class ${prefix}CmdPutClt From ${prefix}Command
	
    Data oExecutor
    
    Method New(oExecutor) Constructor
    Method execute()
    
EndClass

Method New(oExecutor) Class ${prefix}CmdPutClt
    self:oExecutor    := oExecutor
Return self

Method execute() Class ${prefix}CmdPutClt
Return self:oExecutor:update()