#INCLUDE "TOTVS.CH"

/*/{Protheus.doc} ${prefix}CmdPostClt

    @type  Class
    @author everton.mateus
    @since 20190320
/*/
Class ${prefix}CmdPostClt From ${prefix}Command
	
    Data oExecutor
    
    Method New(oExecutor) Constructor
    Method execute()
    
EndClass

Method New(oExecutor) Class ${prefix}CmdPostClt
    self:oExecutor    := oExecutor
Return self

Method execute() Class ${prefix}CmdPostClt
Return self:oExecutor:insert()