#INCLUDE "TOTVS.CH"

/*/{Protheus.doc} ${prefix}Command
    Classe abstrata para execução de comandos
    @type  Class
    @author everton.mateus
    @since 20190320
/*/
Class ${prefix}Command
	
    Data oExecutor
    
    Method New(oExecutor) Constructor
    Method execute()
    
EndClass

Method New(oExecutor) Class ${prefix}Command
    self:oExecutor    := oExecutor
Return self

Method execute() Class ${prefix}Command
Return nil