#include "TOTVS.CH"

Class ${prefix}Clt${className} from ${prefix}Collection
	   
    Method New() Constructor
    Method initEntity()

EndClass

Method New() Class ${prefix}Clt${className}
    _Super:new()
    self:oMapper := ${prefix}Mpr${className}():New()
    self:oDao := ${prefix}Dao${className}():New(self:oMapper:getFields())
return self

Method initEntity() Class ${prefix}Clt${className}
return ${prefix}${className}():New()
