#INCLUDE "TOTVS.CH"

/*/{Protheus.doc} ${prefix}Cmd${className}
    Classe abstrata para execução de comandos
    @type  Class
    @author everton.mateus
    @since 20190320
/*/
Class ${prefix}Cmd${className}
	
    Data oExecutor
    
    Method New(oExecutor) Constructor
    Method execute()
    
EndClass

Method New(oExecutor) Class ${prefix}Cmd${className}
    self:oExecutor := oExecutor
Return self

Method execute() Class ${prefix}Cmd${className}
Return _Super:execute()