#include "TOTVS.CH"

Class ${prefix}Mpr${className} from CenMapper

    Method New() Constructor

EndClass

Method New() Class ${prefix}Mpr${className}
    _Super:new()

${mapper}
${expandable}
Return self
