#include "TOTVS.CH"

Class ${prefix}Mpr${className} from ${prefix}Mapper

    Method New(oEntity) Constructor

    Method mapFromJson()
    Method mapFromDao()

EndClass

Method New(oEntity) Class ${prefix}Mpr${className}
    _Super:new(oEntity)

${mapper}
Return self
