#include "PROTHEUS.CH"

CLASS ${className}TestGroup FROM FWDefaultTestSuite

	METHOD ${className}TestGroup() CONSTRUCTOR
	
ENDCLASS

METHOD ${className}TestGroup() CLASS ${className}TestGroup
	_Super:FWDefaultTestSuite()
	Self:AddTestCase(${className}TestCase():${className}TestCase() )
Return