#INCLUDE "PROTHEUS.CH"
#INCLUDE "TOTVS.CH"

Class ${prefix}Vld${className} from CenValidator

    Method New() Constructor
    Method validate(oEntity)

EndClass

Method New() Class ${prefix}Vld${className}
    _Super:New()
Return self

Method validate(oEntity) Class ${prefix}Vld${className}
Return _Super:validate(oEntity)
